<div class="container">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Type name"
             [(ngModel)]="currName">
      <input type="text" class="form-control" placeholder="Type email"
             [(ngModel)]="currEmail">
      <input type="text" class="form-control" placeholder="Type phone"
             [(ngModel)]="currPhone">
      <input type="text" class="form-control" placeholder="Type address"
             [(ngModel)]="currAddress">
      <button class="btn btn-primary" (click)="addContact()">Add</button>
    </div>
    <div class="col">
      <div *ngIf="currentContact != null">
        <p>{{currentContact.name}}</p>
        <p>{{currentContact.email}}</p>
        <p>{{currentContact.phone}}</p>
        <p>{{currentContact.address}}</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-7">
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let contact of contacts; let i = index"
            (click)="selectCurrent(contact,i)">{{contact.name}}
          <button class="btn btn-danger" style="float: right"
                  (click)="remove(i)">Delete
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
